.debug *, .debug {
  outline: 1px solid gold;
}

body {
  background: rgba(0, 0, 0, 0.3);
}

.wrapper {
  max-width: 645px;
  margin: 10% auto;
  background-color: white;
  box-shadow: 1.8px 2.4px 5px 0 rgba(0, 0, 0, 0.3);
  border-top: solid 8px #fad312;
  padding: 40px 35px;
}

.form__title {
  margin: 0;
  font-size: 36px;
}

.form__desc {
  margin-top: 34px;
  font-size: 14px;
  line-height: 1.5em;
}

.notice {
  color: #e74149;
  font-size: 16px;
  padding: 22px 0 21px 0;
}

.input-block__title {
  font-size: 20px;
  font-weight: 500;
  padding: 34px 0 20px 0;
}

.require .input-block__title:after {
  content: ' *';
  color: #e74149;
  font-size: 16px;
}

input[type="text"] {
  padding: 5px;
  width: 287px;
  max-width: 80%;
  margin: 0 auto;
  border: solid 1px #d0d0d0;
  cursor: pointer;
  font-size: 16px;
}

/* 文字框點選/輸入時，底色標黃 */
input[type="text"]:focus {
  background-color: rgba(250, 211, 18, 0.3);
}

/* 單選框整條的定位 */
.input-block__input label {
  display: block;
  position: relative;
  margin-top: 12px;
  cursor: pointer;
}

.input-block__input label {
  align-items: center;
  display: flex;
}

/* 單選框文字尺寸/定位 */
.input-block__input label span {
  font-size: 14px;
}

/* 單選框 radio 樣式 */
input[type="radio"] {
  position: relative;
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 1px solid #d0d0d0;
  background-color: #bababa;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 9px;
  cursor: pointer;
}

/* 移動到上方變黃圈 */
input[type="radio"]:hover, input[type="radio"]:checked {
  border: 2px solid #fad312;
  background-color: white;
}

/* 圈選後放大、變黃 */
input[type="radio"]:checked {
  border: 6px solid #fad312;
}



.inline-block__desc {
  margin-bottom: 24px;
}

input[type="submit"] {
  background-color: #fad312;
  border: none;
  color: black;
  padding: 13px 32px;
  text-decoration: none;
  margin: 55px 0 21px 0;
  cursor: pointer;
  font-size: 15px;
  transition: 0.1s ease-in;
}

input[type="submit"]:hover {
  color: white;
  font-size: 16px;
}
p {
  margin: 0;
  font-size: 14px;
}

footer {
  background-color: black;
  color: white;
  font-size: 13px;
  text-align: center;
  padding: 26px 0;
  width: 100%;
  display: inline-block;
}

.input-block__error {
  color: red;
  font-size: 14px;
  line-height: 16px;
  padding-top: 5px;
}

.hide-error .input-block__error {
  visibility: hidden;
}


@media(max-width: 768px) {
  .wrapper {
    max-width: 86%;
    padding: 8% 6%;
    margin: 10% 4%;
  }

  .form__title {
    font-size: 2em;
  }
}